 @model UpdateProfileVM 

@{
    ViewBag.Title = "Account | Profile";
}
 <!--- Profile Section -->
<section class="user_profile_container">
    <div class="user_profile_details_left">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="profile_img_user_container">
                <label class="upload">
                    <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
                    <img src="/photo/users/@Model.PhotoURL" alt="userPhoto" class="profile_img_user">
                    <span class="errorMessage" asp-validation-for="Photo"></span>
                </label>
            </div>
            <div class="text_change_profile_pic">
                <small>ID : @Model.Id</small><br/>
            </div>

            <div class="user_profile_status_div active">
                <span class="user_profile_status_rounded active"></span>
                <b>Active</b>
            </div>


            <div class="form-row">
                <div class="form-group">
                    <label asp-for="FirstName"></label> 
                    <input asp-for="FirstName" data-upper autofocus>
                     <span class="errorMessage" asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" data-upper>
                    <span class="errorMessage" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Age"></label>
                      @Model.Age
                </div>
                <div class="form-group">
                    <label asp-for="IcNo"></label>
                    @Model.IcNo
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender">
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span class="errorMessage" asp-validation-for="Gender"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" data-upper>
                    <span class="errorMessage" asp-validation-for="Position"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Email"></label>
                 @Model.Email
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNo"></label>
                    <input asp-for="PhoneNo" data-digit>
                    <span class="errorMessage" asp-validation-for="PhoneNo"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Country"></label>
                    <select asp-for="Country">
                        <option value="Malaysian" selected>Malaysian</option>
                    </select>
                    <span class="errorMessage" asp-validation-for="Country"></span>
                </div>
                <div class="form-group d-flex justify-content-around g-2 align-items-center">
                    <button type="reset" class="profile_button_reset">
                        <i class="fas fa-redo"></i> Reset
                    </button>

                    <button type="submit" class="profile_button_update">
                        <i class="fas fa-save"></i> Save
                    </button>
                   
                </div>
            </div>
        </form>
    </div>

    <div class="voucher_list_right">
        @if (Model.Subscribe ?? false)
        {
            <div class="subscribed">
                <span>
                    <i class="fas fa-star" style="color: yellow;"></i> Subscribed
                </span>
            </div>
        }



        <!-- Quick Buttons -->
        <div class="profile_quick_buttons">
            <a href="/Schedule/MyBookingList" class="ticket_quick_buttons"><i class="fas fa-ticket-alt"></i> Ticket<i class=""></i> <span class="total_notification">@ViewBag.TotalBookingActive</span></a>
            <a href="/Schedule/MyBookingHistory" class="history_quick_buttons"><i class="fas fa-history"></i> Booking History<i class=""></i> <span class="total_notification">@ViewBag.TotalBookingHistory</span></a>
            <a href="/Home/MemberRentBookingHistory" class="history_quick_buttons"><i class="fas fa-history"></i> Rent History<i class=""></i> <span class="total_notification"></span></a>
            <a href="/Membership/MyVoucher" class="voucher_quick_buttons">
                <i class="fas fa-gift"></i> My Voucher
                <span class="total_notification">@ViewBag.VouchersQty</span>
            </a>

        </div>

             <div style="">
                <a class="update_password_buttons" href="/Account/UpdatePassword">Update Password <i class="fas fa-lock"></i></a>
            </div>

        <!-- Membership Level -->
        <div class="membership_level_container">
            <div class="membership_level_box">
                <div class="membership_level_image ">
                    <img class="@ViewBag.MemberShipDetails.RankName" src="/photo/images/trophy.png" alt="Membership Level">
                </div>
                <h2>MemberShip Level: @ViewBag.MemberShipDetails.RankName</h2>
                <p><i class="fas fa-coins"></i> Points: @ViewBag.MemberShipDetails.Points pts</p>
                <span><i class="fas fa-wallet"></i> Total Spend: RM @ViewBag.MemberShipDetails.MinSpend </span>
            </div>
        </div>
    </div>

</section>
