@{
    ViewBag.Title = "Membership | Voucher Redeem";
    IEnumerable<Voucher> vouchers = ViewBag.Vouchers;
}

<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <h2 class="voucher-title mb-3">Redeem Your Voucher Here</h2>
            <span class="voucher-description">Get Lots Of Exclusive Promotions By Applying Vouchers When Checking Out Goods</span>
        </div>
    </div>
</div>
<h4 class="ml-3 my-1">My Points : @ViewBag.Points</h4>
<section class="voucher_redeem_container">
    <div class="voucher_grid">
        @foreach (var v in vouchers)
        {
            <div class="voucher">
                @{
                    var voucherClass = v.Qty == 0 ? "voucher_header fullyRedeem" : $"voucher_header {@v.Status}";
                }

                <div class="@voucherClass">@v.Name</div>

                <div class="voucher_body">
                    <p class="voucher_description">
                        <b>Description:</b>
                        <span>@v.Description</span>
                    </p>
                    <p class="voucher_date">
                        <i class="fas fa-calendar-alt"></i>
                        <b>Valid Date:</b> @v.StartDate - @v.EndDate
                    </p>
                    <p class="voucher_value">
                        <i class="fas fa-money-bill-wave"></i>
                        <b>Cash:</b> <span>@v.CashDiscount</span>
                    </p>

                    <p class="voucher_points">
                        <i class="fas fa-coins"></i>
                        <b>Points Needed:</b> @v.PointNeeded pts
                    </p>

                    <p class="voucher_status">
                        <i class="fas fa-check-circle" style="color: #28a745; margin-right: 5px;"></i>
                        <span>Status:</span> <span class="status_active">Active</span>
                    </p>

                    <p class="voucher_qty">
                        <i class="fas fa-box" style="color: #007bff; margin-right: 5px;"></i>
                        <b>Voucher Left :</b> <span>@v.Qty</span>
                    </p>
                    @if(v.Qty==0){
                        <button type="button" class="redeem_btn fullyRedeem">Fully Redeem</button>
                    }else{
                        <form method="post">
                            @Html.Hidden("Id", v.Id)
                            <button type="submit" class="redeem_btn">Redeem</button>
                        </form>
                    }
  
                </div>
            </div>
        }
    </div>
</section>
