
@{
    ViewBag.Title = "Home | Index";
    IEnumerable<Schedule> schedules = ViewBag.ValueableSchedules;
}

@if (User.IsInRole("Member") && ViewBag.IsSubscriber == true)
{
    <partial name="_NewsLetterSubscribe" />
}

<div class="home_section1">
    <div class="banner_title">
        <h1>
            JMBus <i class="fas fa-bus"></i>
        </h1>
        <h3>Valuable Bus Experience</h3>
    </div>
    <div class="banner_image_box">
        <img src="/photo/images/city_pic.png" />
    </div>

    <div class="special_info">
        <div class="special_info_header">
            <h3>
                <cite>
                    <i class="fas fa-bus"></i>
                    SPECIAL DEALS
                </cite>
            </h3>
            <div class="book_now_btn">
                <a href="#">
                    <i class="fas fa-hand-pointer"></i>
                    Get Now
                </a>

            </div>


        </div>


        <div class="design_box">
            <div class="special_info_details">
                <div class="check_in">
                    <small>
                        <i class="fas fa-clock"></i>
                        Start Time :
                    </small>
                    <p>18 Aug 2024 1:00 PM</p>
                </div>
                <div class="check_out">
                    <small>
                        <i class="fas fa-flag-checkered"></i>
                        Arrival Time :
                    </small>
                    <p>19 Aug 2024 10:00 AM</p>
                </div>
                <div class="room">
                    <small>
                        <i class="fas fa-map-marker-alt"></i>
                        Destination :
                    </small>
                    <p>Denting HighLand</p>
                </div>
            </div>

        </div>
    </div>

    <div class="bus-booking-banner">
        <form class="bus-booking-form" action="/Schedule/Index" method="get">
            <!-- Origin -->
            <div class="form-group">
                <label for="origin">Origin</label>
                <select id="origin" name="departFilter">
                    <option value="" disabled selected>Select Origin</option>
                    <option value="Johor">Johor</option>
                    <option value="Kedah">Kedah</option>
                    <option value="Kelantan">Kelantan</option>
                    <option value="Malacca">Malacca</option>
                    <option value="Negeri Sembilan">Negeri Sembilan</option>
                    <option value="Pahang">Pahang</option>
                    <option value="Penang">Penang</option>
                    <option value="Perak">Perak</option>
                    <option value="Perlis">Perlis</option>
                    <option value="Selangor">Selangor</option>
                    <option value="Terengganu">Terengganu</option>
                    <option value="Kuala Lumpur">Kuala Lumpur</option>
                    <option value="Putrajaya">Putrajaya</option>
                </select>
            </div>

            <!-- Destination -->
            <div class="form-group">
                <label for="destination" name="destinationFilter">Destination</label>
                <select id="destination">
                    <option value="" disabled selected>Select Destination</option>
                    <option value="Johor">Johor</option>
                    <option value="Kedah">Kedah</option>
                    <option value="Kelantan">Kelantan</option>
                    <option value="Malacca">Malacca</option>
                    <option value="Negeri Sembilan">Negeri Sembilan</option>
                    <option value="Pahang">Pahang</option>
                    <option value="Penang">Penang</option>
                    <option value="Perak">Perak</option>
                    <option value="Perlis">Perlis</option>
                    <option value="Selangor">Selangor</option>
                    <option value="Terengganu">Terengganu</option>
                    <option value="Kuala Lumpur">Kuala Lumpur</option>
                    <option value="Putrajaya">Putrajaya</option>
                </select>
            </div>

            <!-- Travel Date -->
            <div class="form-group">
                <label for="travel-date">Travel Date</label>
                <input type="date" name="fromDateIdnex" id="travel-date" class="form-control">
            </div>

            <!-- Search Button -->
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </form>

    </div>

</div>

<div class="home_section2">
    <div class="banner_title_2">
        <h3>Budget Ticket</h3>
        <h1>Our Valuable Bus Packages</h1>
    </div>

    <div class="hot_room_container">
        <!-- Row 1 -->
        @foreach (var schedule in schedules)
        {
            <div class="hot_room_product">
                <div class="price_tag">
                    <h3>RM @schedule.DiscountPrice</h3>
                    <span>/One Way</span>
                </div>
                <img src="photo/buses/@schedule.Bus.PhotoURL" alt="Bus T250">
                <div class="hot_room_product_details">
                    <h3>@schedule.Bus.Name</h3>
                  <span style="font-weight:bold">Depart Date : @schedule.DepartDate</span>
                </div>
                <div class="route">
                    <h2><i class="fas fa-map-marker-alt"></i> @schedule.RouteLocation.Depart</h2>
                    <span class="route-arrow"><i class="fas fa-arrow-right"></i></span>
                    <h2><i class="fas fa-map-marker-alt"></i> @schedule.RouteLocation.Destination</h2>
                </div>
                <div class="travel_time">
                    <span><i class="fas fa-clock"></i> Depart: @schedule.DepartTime</span> -
                    <span><i class="fas fa-clock"></i> Arrive:  @schedule.DepartTime.AddHours(@schedule.RouteLocation.Hour).AddMinutes(@schedule.RouteLocation.Min)</span>
                </div>
                <ul class="room_features">
                    <li><i class="fas fa-road"></i> Duration: @schedule.RouteLocation.Hour H @schedule.RouteLocation.Min M</li>
                    <li><i class="fas fa-ticket-alt"></i> One Way Ticket</li>
                    <li><i class="fas fa-bus"></i> Comfortable Seating</li>
                </ul>
                <p class="description">
                    <strong>Bus Plate:</strong> @schedule.Bus.BusPlate <br>
                    <strong>Capacity:</strong> @schedule.Bus.Capacity Seats <br>
                </p>
                <a class="btn btn-success" href="/Schedule/SelectSeats?id=@schedule.Id">View Now !</a>
            </div>
            }
        </div>
    </div>

    <!-- Signal R-->



@section foot{
    <script>

           document.addEventListener('DOMContentLoaded', () => {
            const newsletterContainer = document.querySelector('.newsletter-container');
            const newsletterOverlay = document.querySelector('.newsletter-overlay');
            const newsletterCloseBtn = document.querySelector('.newsletter-close-btn');
            const body = document.body;

            // Display the newsletter modal if not dismissed
            if (!localStorage.getItem('newsletterDismissed')) {
                newsletterContainer.style.display = 'block';
                newsletterOverlay.style.display = 'block';
                body.classList.add('no-scroll'); // Disable scrolling
            }

            // Close button functionality
            newsletterCloseBtn.addEventListener('click', () => {
                newsletterContainer.style.display = 'none';
                newsletterOverlay.style.display = 'none';
                body.classList.remove('no-scroll'); // Enable scrolling
                localStorage.setItem('newsletterDismissed', 'true'); // Avoid showing modal again

                // Send AJAX request to update session
                fetch('/Home/SetCloseNewsLetterSession', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (!response.ok) {
                        console.error('Failed to update session.');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            });

       

    </script>
}